version: "3.5"
services:
  db${BUILD_ID}:
    image: mysql:5.6
    container_name: "db${BUILD_ID}"
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_USER: "notes001"
      MYSQL_PASSWORD: "secret"
      MYSQL_DATABASE: "edx_notes_api"
  es${BUILD_ID}:
    image: elasticsearch:1.5.2
    container_name: "es${BUILD_ID}"
  notes${BUILD_ID}:
    # Uncomment this line to use the official course-discovery base image
    image: edxops/notes:latest

    # Uncomment the next two lines to build from a local configuration repo
    # build: ../configuration/docker/build/discovery/

    container_name: "edx_notes_api${BUILD_ID}"
    volumes:
      - ..:/edx/app/edx_notes_api/edx_notes_api
    command: tail -f /dev/null
    depends_on:
      - "db${BUILD_ID}"
      - "es${BUILD_ID}"
    environment:
      CONN_MAX_AGE: 60
      DB_ENGINE: "django.db.backends.mysql"
      DB_HOST: "db${BUILD_ID}"
      DB_NAME: "edx_notes_api"
      DB_PASSWORD: "secret"
      DB_PORT: "3306"
      DB_USER: "notes001"
      ENABLE_DJANGO_TOOLBAR: 1
      ELASTICSEARCH_URL: "http://es${BUILD_ID}:9200"
networks:
  default:
    name: "ci_default${BUILD_ID}"
